<h3>Combat</h3>
  <table>
      <tr>
          <th>Name</th>
          <th>Rating</th>
          <th>Strength</th>
          <th>Defense</th>
          <th>Speed</th>
      </tr>
      <tr>
        <select>
          <option></option>
          <option>Reinforced clothing</option>
        </select>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <select></select>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <select></select>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
  </table>