<h2>List of Armors </h2>

<ul class="heroes">
  <li *ngFor="let armor of armors">
    <a routerLink="/detail/{{armor.id}}">
      <span class="badge">{{armor.id}}</span> {{armor.name}} {{armor.rating}} {{armor.strength}} {{armor.defense}} {{armor.speed}}
    </a>
  </li>
</ul>

<select (change)="selectChangeHandler($event)">
  <option></option>
  <!-- <option *ngFor="let armor of armors"> -->
  <!-- <option *ngFor="let armor of armors" [value]="armor.name" [selected]="armor.selected == true">{{armor.selected+armor.value}} -->
  <option *ngFor="let armor of armors" [ngValue]="armor">{{armor.name}}
  </option>
</select>

<h2><span>Select an item:</span></h2>
<p><span>You selected: </span><b>{{selectedItem}}</b></p>

<div>
<img class="image" [src] ="myimage">
</div>
